@import 'utils/normalize.css';
@import 'utils/variables';
@import 'utils/mixins';

// Estilos globais aqui
* {
  box-sizing: border-box;
}

body {
  font-size: $font-size-base;
  line-height: 1.5;
  padding: 24px;

  @include respond-to('large') {
    padding: 24px 56px;
  }
}

main {
  @include respond-to('large') {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
}