@import 'utils/normalize.css';
@import 'utils/variables';
@import 'utils/mixins';

// Estilos globais aqui
* {
  box-sizing: border-box;
}

body {
  font-size: $font-size-base;
  line-height: 1.5;
  padding: 24px;
}