@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.actions {
    p {
        color: $primary-text-muted-color;
    }
    .actions__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}