@use 'sass:color';

// Cores
$black-color: #000000;
$white-color: #FFFFFF;
$disabled-color: transparentize($black-color, 0.38);
$primary-color: #0796D3;
$secondary-color: #A0DCF6;
$tertiary-color: #D7DDE9;
$task-hover-color: #F7F9FD;
$card-box-shadow-color: #1018282E;

$primary-text-muted-color: #0000008A;

$primary-card-border-color: #EAECF0;
$primary-card-shadow-color: #1018280D;

$primary-button-color: #E7EEFB;
$secondary-button-color-strong: #0796D3;
$secondary-button-color-weak: #A0DCF6;
$danger-button-color-strong: #D30707;
$danger-button-color-weak: #F05353;

$input-placeholder-color: #0000008F;

// Tamanhos de fonte
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;